# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Large Model Files
models/sales_model.pkl

# Logs
*.log